<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>

        <a href="https://www.upyun.com/">
          <img src="data:image/svg+xml;base64,
/9j/4AAQSkZJRgABAQEAWgBaAAD/2wBDAA0JCgsKCA0LCgsODg0PEyAVExISEyccHhcgLikxMC4p
LSwzOko+MzZGNywtQFdBRkxOUlNSMj5aYVpQYEpRUk//2wBDAQ4ODhMREyYVFSZPNS01T09PT09P
T09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT0//wgARCAAyAI0DAREA
AhEBAxEB/8QAGgABAQADAQEAAAAAAAAAAAAAAAQCAwUBBv/EABkBAQEAAwEAAAAAAAAAAAAAAAAD
AQIEBf/aAAwDAQACEAMQAAAB+nPGIr8+ik7+fp3aUAAAAAAHF7fPktCqVpLQ6nJ29Lm65Kw8ziid
cM4yxnHbXbpSWsdmu1E6jXtp816fk2RvHaFsOiasfpfM9eSsMmdulOf0cmWM+Fcr6ttPSuN/WdW2
nzvpeVVK0doWRvNWP03l+xNSUtYdPm7OX1cXrPjHT5eyS0KZWzxsBwu/zdG89+lJ6S6HP1dHm6tF
J7dN8c4xzrhnA36U07zxzi6HSB4xJaEV+eqN74dIAAAAAAAAAAAAAAH/xAAhEAADAAEEAwADAAAA
AAAAAAABAgMABBESExAUIyEwUP/aAAgBAQABBQLw+qQZ7eCi/v1NeTIjOVRZ4zFm0td/Ha2dzYjc
0L7VcsAhoSfwO18R2Y+KHaeWPAZOaNFDxfCSuou20kXijRTvE0bUXjNZvVUPszz2EwHcZQbzG2+p
ZGbAOEFHJsuAZxbtpjRHd18tRaIWZOwiORDAt51EuDTTmxoil2LnSyx+ewjuaTV8QUBRH7ClBbhS
hqnOf3GBK93kjcND5+o+T0yr/A//xAAqEQACAgECBAUEAwAAAAAAAAABAgARAxASBBMhMRQgIjJS
IzBCYUFQUf/aAAgBAwEBPwHRuJUdp4v9QZB0v7/EZdx2jtFQv2gQJ6mMZixszh8t+k6c1vjOc3xi
NuW4XpwsctXpiF/yhNCc1vjEcseo1c0pOmU7fpjRMaFCTEO1r0JK5P0ZmakirtWocK8wCDGpyEGZ
sKKtiPlCGjPEpPELAbF6ZBakQVfWcQyMbXQDbjJP8xRZrTMAV6zE3Ma20OEcwC5y92QiZcIVbuE1
1mIbjzDAwJryZ8Ww2O0RN5qHIi+0RmLGzOGxfmY+6vTBhs25uPjDxA49xio27c8KOHLLNjv7+0yJ
vWp9Yf5AmTfuPkIvvGw+mknhWicMo7/0H//EACoRAAICAgECAwgDAAAAAAAAAAECABEDEhAhMRMi
QgQUICMyQVJhMFBx/9oACAECAQE/AeF9nY957t+5oft/Phx0LMZgveFy/RYBQoTPjrzDjw1/KeEP
yjrqagXyloteqME9MHUzw1/KMgHY8oLYDjGNvOeHdg4EYWK4AvH/AJMQtoxs3BlbQmHIwxgiYsrM
1GLjLdRPAaeA0IrhDTCHt0mFWUU3BOzgD7RjQvjETt0mQaLS8DKdCam9YwZiylmqoBcymhoJqav4
MOTYVHbUXAjH6jFUKKEz5PSIut+aHLXROkRysYoe0Zl11WBkKatN0X6Yjatc+V+4WTTUfADUGXzW
095WP7QT2/oP/8QAKxAAAQMBBwIGAwEAAAAAAAAAAQACERIDECEiMUFRYXETIDIzQoEwkaFQ/9oA
CAEBAAY/ArsMy9H9QnAnY/noHpChoVT3NMfEFSVQ76u9py9lyDuU1nKyAErOAFMSvZcsbMtvcel3
hN2163OcTiEDxcJOVwRG7sAg3hNbsQnNIwACloxUGVv+l8v0pucOiE6KWfdzifnogObsTEaFVP1b
oLmtqdiOU5tTsAFNTj3Kko2rt9OyLdx5JHpKhZLMdypcV4h+lkieqqtXVH+LHXlQ5wcFXaETsAnP
ZTjyh4hbTwEWqIs0HupHbyQUW2eWVq1S7N/gf//EACYQAQACAgICAQIHAAAAAAAAAAEAESExUWEQ
QSAwcVCBobHh8PH/2gAIAQEAAT8hi0WxGirrUvLCuvZ9cVl5O2ZEorxlsMZPli51pt4RZIltBKwK
4RqQorc3UHtjiu9UxqiwNcz/AHJWSK2+VJ2KvCFiBr7eEs/tTttfi8zCC8XKo4CdFKgxDYXMtFU2
eojqhPbK22q8EyVV464AI0l+GOyqqe65ZriB2tTLxq20D1O9VeEr7rgZQqUfz+Ab2Z2gUA2hy4jM
1kxAGSgyxj2cTxA0eU+CVnB11EMtG14JTGhrLcy2Ma6f79z73RU0LR6SlbB0NkbUjhrMRhgrQJih
kNomCBvLmUU0sKgVH3jdVU8j4AwCPpgCeXPfUy5q/OLWW/T8A//aAAwDAQACAAMAAAAQFUIAAAAA
ACoKHJ2MlAMsSHMb95QwsBG4Y6aAEUUIVe1aACtwAAAAAAAAAAAAAAA//8QAKREBAAIBAgQFBAMA
AAAAAAAAAQARITFBEFFhoSCRsdHwMFBx8YHB4f/aAAgBAwEBPxCKBbH6y9Jf9/8AJhsF2frqmg7x
qjcfpNbDvEGsx+f24IOqIFrlcSrjcwuAwW9YtwA6RkQudfKYpxczYeDE0DXq8GaySk5eBm3B3l0G
rg/mVHLDh0Rg9WAehEI045zJCZKz5TpvlAAb8EE5MxNkA6m/Dexge8p+bghVVZHrGt8hg/vgSyyO
+YFVSg9CMQn8sAK0Iyarp0PnzMWlyeBN0fKjUv0RCja3Zfm2Jfke85LfWNkztM84TRNYugJ3jbRe
gEqozzuLgRTYvMuS6wooO6MNZs14AFDEEbVevtC/Kd/aO3m9vsH/xAAoEQEAAgEEAQMCBwAAAAAA
AAABABEhEDFBUXFhkaEgwTBQgbHh8PH/2gAIAQIBAT8QgXgmYwlf8fzHO5Bz+OfNPxB7cKqS+U4h
lsEHoc6CGyCtAljfaC9SFuVEIZLCALU9JC7F1BDvQm7zt6Gg5MMv+2gtRlfErV2My/7RzdyoiGVf
vAqYh+Cc+Peeoe8RI6Eh7lrco1/Q04MbpZdNACl3v4mOMO79tGUGK4iyAysAIHgiICAXFv5iAZh+
gL25BuQe18EoBCr3p3FekoUU+Zs+TqEWUfiCotcrBFmOoBUt9vErnGza/CHVj5+hFZHRnr+3HoYH
WH7/AJB//8QAKRABAAEEAQIEBgMAAAAAAAAAAREAITFBURBhcYHh8CCRscHR8TBQof/aAAgBAQAB
PxCgRAAlXVNjDdnzelE1xHvxSI4pKH+eOUkQ1fY9eKWpZdcB4tLHZmadE9qk+PLV1QpRuhrx6LQc
GJkvScEJWSxROpCy1eKECJNiKCOcCIi/pRVCbp1ad0ghz2V+ifikxJKeReOqOwsu8W6ONHLslJZd
mPYdDTDWBDC1ty04qkKjib9ASSWWC8eH1pyM2plW30miEvCk2xdqFLgnk70rMwZEQDTVt7Bmy92g
zK2ZHsr/ACFl0rMtCEkMPQyUEDbFqiiqLmuvFL6xkg4jO4+3RhF2mUMr4enNIHkfmehmUpjEGKYz
FsRMl4+9dug8UQsQjhig0JCHAC7F6bZWATPEVFcanAU9QvjV+feaknkMWJx4/A7dPKCy9rdqHlBL
wWVpvZrKXdFL1PbsHBxRzCIgOWc0kJE7mcBHbeKVizEjyN0LsL48yjRTLDe+q2qTMDlvupckAegc
eFGDcsqaV1SRrSFxIz9qtpSCIEHnRCAR0/s/B8BQ2hCRoJMBbLDuzHvdGIuQp+lDlDpI+Tf9B//Z

          ">
        </a>

      </div>

      <div class="footer-col footer-col-2">
        {% include social.html %}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
        <p>Power by Jekyll && Theme by minima-改</p>
        <p>Copyright © 2016-2018 Powered by a-wing</p>
      </div>
    </div>

  </div>

</footer>
